:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(133deg, #00d7c3 30%, #040403 40%);
  background-size: 400% 400%;
  animation: background-animation 20s ease infinite;
  color: rgb(241, 235, 235);
}

@keyframes background-animation {
  0% {
      background-position: 0% 54%;
  }

  50% {
      background-position: 100% 47%;
  }

  100% {
      background-position: 0% 54%;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 20px;
  border: 1px solid transparent;
  height: 45.2px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  margin-bottom: 2px;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: #b6e4df;
  box-shadow: 0 0 10px 0 #b6e4df, 0 0 20px 2px #b6e4df;
  transition: all .5s ease;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
